###> inetum-orleans/docker-devbox ###
/.bin/mysql
/.bin/mysqldump
/.bin/conventional-changelog
/.bin/node
/.bin/npm
/.bin/npx
/.bin/start-storybook
/.bin/webpack-cli
/.bin/webpack
/.bin/yarn
/.bin/composer
/.bin/php
/.bin/phpcbf
/.bin/phpcs
/.bin/rector
/.bin/robo
/docker-compose.yml
/.docker/db/Dockerfile
/.docker/web/Dockerfile
/.docker/node/Dockerfile
/.docker/php/Dockerfile
/.docker/mail/Dockerfile
/*ddb.local.*
/.bash_enter
/.bash_leave
/.bin/symfony
/Makefile
/.docker/web/apache.conf
/.docker/php/sf7-start-php.ini
/.certs/live.sf7-start.test.key
/.certs/live.sf7-start.test.crt
/.certs/.signer.crt
/.certs/dev.sf7-start.test.key
/.certs/dev.sf7-start.test.crt
/.certs/sf7-start.test.key
/.certs/sf7-start.test.crt
###< inetum-orleans/docker-devbox ###

###> symfony/framework-bundle ###
/web/.env.local
/web/.env.local.php
/web/.env.*.local
/web/config/secrets/prod/prod.decrypt.private.php
/web/public/bundles/
/web/var/
/web/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/web/phpunit.xml
/web/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/web/node_modules/
/web/public/build/
/web/npm-debug.log
/web/yarn-error.log
###< symfony/webpack-encore-bundle ###

/.idea/